# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text diff=typescript
*.tsx text diff=typescript
*.js text diff=javascript
*.jsx text diff=javascript
*.json text
*.md text
*.yml text
*.yaml text

# Documentation
*.txt text
*.rtf text
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
*.ppt binary
*.pptx binary

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Audio and video
*.mp3 binary
*.ogg binary
*.mp4 binary
*.mov binary
*.avi binary

# Archives
*.zip binary
*.tar.gz binary
*.tgz binary
*.rar binary
*.7z binary 